html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: #2e2e2e;
  color: white;
  text-align: center;
  font-family: 'Iceberg', sans-serif;
  overflow: hidden;
}

.canvas-wrapper {
  width: 100%;
  max-width: 400px;
  position: relative;
}


canvas {
  width: 100%;
  height: auto;
  display: block;
  background: linear-gradient(to bottom, #fef6e4, #e3c9c9);
  border: 2px solid #fff;
  border-radius: 12px;
}



.touch-controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#play-again {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background: repeating-linear-gradient(
    45deg,
    #c62828,
    #c62828 10px,
    #b71c1c 10px,
    #b71c1c 20px
  );
  border: 2px solid #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-family: 'Iceberg', sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: none;
  align-self: center;
}

#play-again:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.6);
}
